body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    color: #251b37;
}

/* NAVBAR */

.title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #372948;
}

.nav-bar {
    overflow: hidden;
    background-color: #372948;
    text-align: center;
    height: 80px;
}

.nav-bar a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    color: #FFCACA;
}

.nav-bar a.active {
    background-color: #ffccd2;
    color: #372948;
}

.nav-bar a:hover {
    background-color: #705492;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px;
}

a {
    text-decoration: none;
}

/* HOMEPAGE */

.introduction {
    font-size: 36px;
    text-align: center;
    margin: 5%;
}

/* FAMILY PAGE */
.container {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

.profile {
    text-align: center;
}

.profile-image {
    display: flex;
    justify-content: center;
}

/* PHOTO ALBUM PAGE */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% 0;
}

/* CONTACT US PAGE */
.contact-info {
    display: block;
    text-align: center;
    margin-top: 5%;
}

/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightsteelblue;
    color: white;
    text-align: center;
}