body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
}

/* NAVBAR */

.title {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.nav-links {
    font-size: 48px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px;
}

a {
    text-decoration: none;
}

/* HOMEPAGE */

.introduction {
    font-size: 36px;
    text-align: center;
    margin: 1rem;
}

/* FAMILY PAGE */
.container {
    display: flex;
    justify-content: space-evenly;
}

/* PHOTO ALBUM PAGE */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* CONTACT US PAGE */


/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightsteelblue;
    color: white;
    text-align: center;
}